// Global default params
params {
    // Default genome (used if no genome_prefix is specified)
    default_genome_prefix = "hg38"
    
    // Add batch name parameter with a default value
    batchName = "run"
    
    reference_dir = "/home/users/astar/gis/zhangt/scratch/reference"

    // Genome reference configurations
    genomes {
        'mm39' {
            genome = "/home/users/astar/gis/zhangt/scratch/reference/mm39/STAR_v2.7.10a/"
            gtf = "/home/users/astar/gis/zhangt/scratch/reference/mm39/mm39.ncbiRefSeq.gtf"
            fasta = "/home/users/astar/gis/zhangt/scratch/reference/mm39/mm39.fa"
            chain = "/home/users/astar/gis/zhangt/scratch/reference/mm39/mm39ToHg38.over.chain.gz"
        }
        'hg38' {
            genome = "/home/users/astar/gis/zhangt/scratch/reference/hg38/STAR_v2.7.10a/"
            gtf = "/home/users/astar/gis/zhangt/scratch/reference/hg38/hg38.ncbiRefSeq.gtf"
            fasta = "/home/users/astar/gis/zhangt/scratch/reference/hg38/hg38.fa"
        }
    }
    
    // Keep existing parameters
    outdir = "${projectDir}/results"
    cacheDir = "${projectDir}/singularity_images/"
    max_memory = 128.GB
    max_cpus = 32
    max_time = 48.h
}

// Process-specific configuration
process {
    // General process configuration
    executor = 'slurm'
    clusterOptions = { ' -V --partition=normal ' }  // Remove account specification or update with your actual account
    // clusterOptions = "-l mem_free=${memory.toString().replaceAll(/[\sB]/,'')}"
    penv = 'OpenMP'
    // errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    pollInterval = '30 sec'
    exitReadTimeout = "120 sec"

    cpus = 1
    memory = { check_max( 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    withName: 'FASTP' {
        cpus = 8
        memory = '16 GB'
        // container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.2--h79da9fb_0'
        container = "${params.cacheDir}/fastp.sif"
    }

    withName: 'STAR_ALIGN' {
        cpus = 12
        memory = '32 GB'
        // container = 'https://depot.galaxyproject.org/singularity/star:2.7.10a--h9ee0642_0'
        // container = "${params.cacheDir}/star.sif"
    }
    withName: 'FEATURE_COUNTS' {
        cpus = 8
        memory = '16 GB'
        // container = 'https://depot.galaxyproject.org/singularity/subread:2.0.1--hed695b0_0'
        // container = "${params.cacheDir}/subread.sif"
    }
    
    withName: 'COLLECT_QC_METRICS' {
        cpus = 4
        memory = '8 GB'
        // container = 'https://depot.galaxyproject.org/singularity/python:3.9--1'
        
    }
}
// Enable Singularity
singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.cacheDir
}


// Execution reports
report {
    enabled = true
    overwrite = true 
    file = "${params.outdir}/${params.batchName}_execution_report.html"
}

timeline {
    enabled = true
    overwrite = true 
    file = "${params.outdir}/${params.batchName}_timeline_report.html"
}

trace {
    enabled = true
    overwrite = true 
    file = "${params.outdir}/${params.batchName}_trace.txt"
}

// Profiles
profiles {
    standard {
        process.executor = 'slurm'
        process.queue = 'normal'
        // Remove or update account with your actual SLURM account
        process.clusterOptions = '--partition=normal'
        process.maxCpus = 32
        process.maxMemory = '128 GB'
    }
    
    // Remove docker profile as we're using Singularity
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    
    conda {
        conda.enabled = true
        singularity.enabled = false
    }
}

// Manifest
manifest {
    name = 'RNA Methylation Analysis Pipeline'
    author = 'Zhang Tong'
    description = 'Nextflow pipeline for RNA methylation analysis'
    version = '0.4.21.0000'
    nextflowVersion = '>=21.04.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}